---
title: Projects
---
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
    <title>{{ page.title }}</title>
  </head>


<style>
  table{
	  background-color: silver;
	  box-shadow: inset -1px -1px black, 
	  	inset 0.5px 0.5px silver,
		inset 1.5px 1.5px white;
  }
  #title{
	  background-color: darkblue;
	  color: white;
  }
</style>



  <body>
  {% include navigation.html %}


  <section>
          <table>
                  {% for prj in site.data.projects %}
                  <tr>
                          <td>
				  <section id="title"><b>{{ prj.title }}</b></section>
			  </td>
                  </tr>
		  <tr>
			  <td>
				  <img src="{{ prj.img }}" alt="{{ prj.img_desc}}">
			  </td>
		  </tr>
		  <tr>
			  <td>
				  <a href="{{ prj.url }}">Link!</a>
			  </td>
		  </tr>
		  <tr>
			  <td>
			  {% for item in prj.tech %}
			  <p>{{ item }}</p>
			  {% endfor %}
			  </td>
		  </tr>
		  <tr>
			  <td>
				  {{ prj.desc }}
			  </td>
		  </tr>
                  {% endfor %}
          </table>
  </section>


  </body>
</html>


