---
title: Resume
---
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
    <title>{{ page.title }}</title>



        <style>
		section {
			max-width: 792px; /* 99 char max */
		}
                #center {
			text-align: center;
                }
		#date {
			text-align: end;
			vertical-align: top;
			width: 90px;
		}
		#full-pad {
			padding: 10px;
		}
		td {
			padding: 0px 10px;
		}
		h3 {
			text-decoration-line: underline;
			text-decoration-style: double;
		}
	</style>

  </head>


  <body>
  {% include navigation.html %}
  <section>
	  <h3> Education </h3>
	  <table>
		  {% for edu in site.data.education %}
		  <tr>		
			  <td>
			  
				  <p>
				  {{ edu.end_date }}<br>
				  {{ edu.start_date }}
				  </p>
			  </td>
			  <td>
				  <b>{{ edu.title }}</b><br>
				  <i>{{ edu.loc }}</i>
			  </td>
		  </tr>
		  {% endfor %}
	  </table>
  </section>

  <section>
	  <h3> Experiences </h3>
	  <table>
		  {% for exp in site.data.experience %}
		  <tr>
			  <td id="date">
				  <p>
				  {{ exp.end_date }}<br>
				  {{ exp.start_date }}
				  </p>
			  </td>
			  <td>
				  <b>{{ exp.title }}</b><br>
				  <i>{{ exp.company }}</i>
				  <p> {{ exp.desc }}</p>
			  </td>
		  </tr>
		  {% endfor %}
	  </table>
  </section>

  <section>
	  <h3> Skills </h3>
	  <table>
		  {% for skl in site.data.skills %}
		  <tr>
			  <td>
				  <b>{{ skl.group }}</b>
			  </td>
			  <td>
				  {% for item in skl.name %}
				  {{ item }},
				  {% endfor %}
			  </td>
		  </tr>
		  {% endfor %}
	  </table>
  </section>
 
  <section>
	  <h3> Certificates </h3>
	  <table>
		  {% for cert in site.data.certificates %}
		  <tr>
			  <td id="full-pad">
				  {{ cert.company }}<br>
				  <i>{{ cert.type }}</i>
			  </td>
			  <td>
				  <b>{{ cert.title }}</b>
			  </td>
		  </tr>
		  {% endfor %}
	  </table>
  </section>

  <section>
	  <h3> Languages </h3>
	  <table>
		  <tr id="center">
			  {% for lang in site.data.languages %}
			  <td>
				  <b>{{ lang.lang }}</b>
			  </td>
			  {% endfor %}
		  </tr>
		  {% for lang in site.data.languages %}
		  <td>
			  {{ lang.level }}
		  </td>
		  {% endfor %}
	  </table>
  </section>

  </body>
</html>


