---
title: Resume | DAtun
---
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/resume.css" | relative_url }}">
    <title>{{ page.title }}</title>
  </head>


  <body>
  {% include navigation.html %}
  <section>
	  <h1> Education </h1>
	  <table>
		  {% for edu in site.data.education %}
		  <tr>		
			  <td>
			  
				  <p>
				  {{ edu.end_date }}<br>
				  {{ edu.start_date }}
				  </p>
			  </td>
			  <td>
				  <h2>{{ edu.title }}</h2>
				  <i>{{ edu.loc }}</i>
			  </td>
		  </tr>
		  {% endfor %}
	  </table>
  </section>

  <section>
	  <h1> Professional Experiences </h1>
	  <table>
		  {% for exp in site.data.experience %}
		  <tr>
			  <td id="date">
				  <p>
				  {{ exp.end_date }}<br>
				  {{ exp.start_date }}
				  </p>
			  </td>
			  <td>
				  <h2>{{ exp.title }}</h2>
				  <i>{{ exp.company }}</i>
				  <p> {{ exp.desc }}</p>
			  </td>
		  </tr>
		  {% endfor %}
	  </table>
  </section>

  <section>
	  <h1> Skills </h1>
	  <table>
		  {% for skl in site.data.skills %}
		  <tr>
			  <td>
				  <b>{{ skl.group }}</b>
			  </td>
			  <td>
				  {% for item in skl.name %}
				  {{ item }},
				  {% endfor %}
			  </td>
		  </tr>
		  {% endfor %}
	  </table>
  </section>
 
  <section>
	  <h1> Trainings & Certifications </h1>
	  <table>
		  {% for cert in site.data.certificates %}
		  <tr>
			  <td id="semi-pad">
				  {{ cert.company }}<br>
				  <i>{{ cert.type }}</i>
			  </td>
			  <td>
				  <b>{{ cert.title }}</b>
			  </td>
		  </tr>
		  {% endfor %}
	  </table>
  </section>

  <section>
	  <h1> Languages </h1>
	  <table>
		  <tr id="center">
			  {% for lang in site.data.languages %}
			  <td>
				  <b>{{ lang.lang }}</b>
			  </td>
			  {% endfor %}
		  </tr>
		  {% for lang in site.data.languages %}
		  <td>
			  {{ lang.level }}
		  </td>
		  {% endfor %}
	  </table>
  </section>

  </body>
</html>


