$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: "JetbrainsMono",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

@font-face {
  font-family: "JetbrainsMono";
  src: url("../fonts/JetbrainsMono.woff2") format("woff2");
}

@font-face {
  font-family: "JetbrainsMono-Bold";
  src: url("../fonts/JetbrainsMono-Bold.woff2") format("woff2");
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}
