#date{                        
        text-align: end;                        
        vertical-align: top;        
        width: 100px;
}
#semi-pad{                        
        padding: 10px 10px 0px 10px;
}                
td{                        
        padding: 0px 10px;
}
b{
	font-family: "JetbrainsMono-Bold";
}
